extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Polemica Test
block page

    -
        const menu_list = [
            {isActive: true, value: 'Главная', icon: './images/icon-menu-1.svg'},
            {isActive: false, value: 'Как проходит игра', icon: './images/icon-menu-2.svg'},
            {isActive: false, value: 'Что нельзя делать', icon: './images/icon-menu-3.svg'},
            {isActive: false, value: 'Уловки и советы', icon: './images/icon-menu-4.svg'},
            {isActive: false, value: 'Игровой скоринг', icon: './images/icon-menu-5.svg'},
        ]

    section.intro 
        .container

            .intro__wrapper

                ul.intro__menu

                    each item in menu_list

                        li.intro__menu-item 

                            a.intro__menu-link(href="#" class=(item.isActive ? 'active' : ''))

                                img(src= item.icon, alt="")

                                span= item.value


                .intro__about

                    .intro__about-picture
                        +pictureSizeWithoutLazyMedia('book', 'book-mob', 'png', 'x2', 501, 250, 991, 992)

                    h1.intro__about-title Добро пожаловать в раздел правил

                    p.intro__about-text Polemica — сервис для игры в «мафию» онлайн. Та самая интеллектуально-психологическая игра, где город засыпает и просыпается мафия. #[br]Для игры понадобится веб-камера и хороший интернет.


                .intro__cta

                    .intro__cta-wrapper

                        h2.intro__cta-title Хочешь научиться играть?

                        p.intro__cta-text Присоединяйся к чату, где мы собираем лобби специально для новичков, помогаем освоиться и найти напарников для игры.

                        button.intro__cta-btn(type="button" aria-label="в телеграм") Перейти

                        +pictureSizeWithoutLazy('girl','png','x2',324,249).intro__cta-picture


                .intro__start

                    h2.intro__start-title Играй на сайте Polemica — в самом большом сообществе по мафии в СНГ

                    +pictureSizeWithoutLazyMedia('collage', 'collage-mob','png','x2', 159, 310, 575, 576).intro__start-picture

                    p.intro__start-award Соревнуйся и попади на турнир Mafprofi с призовыми #[span $20,000]

                    button.intro__start-btn(type="button" aria-label="Начать игру") Начать играть сейчас





                .intro__feedback

                    +pictureSizeWithoutLazy('lifeline','png','x2',84,84).intro__feedback-picture

                    h2.intro__feedback-title Задать вопрос поддержке

                    p.intro__feedback-text Среднее время ответа: 3 ч

                    button.intro__feedback-btn(type="button" aria-label="Написать в службу поддержки") Написать
    




