footer.footer

    .container 

        .footer__top

            .footer__descr

                p.footer__text Мафия — отличный способ провести время, померяться интеллектом и найти друзей #[+pictureSizeLazy('emoji','png','x2', 36, 36)]

                button.footer__play(type="button" aria-label="Начать играть в Мафию") Играть бесплатно

            .footer__links

                ul.footer__links-block

                    li.footer__links-item: a.footer__links-link(href="#") Найти игру
                    li.footer__links-item: a.footer__links-link(href="#") Топ игроков
                    li.footer__links-item: a.footer__links-link(href="#") Подписка
                    li.footer__links-item: a.footer__links-link(href="#") Промокоды
                    li.footer__links-item: a.footer__links-link.link--amount(href="#") Блог #[span 3]


                ul.footer__links-block

                    li.footer__links-item: a.footer__links-link(href="#") Правила
                    li.footer__links-item: a.footer__links-link(href="#") Роли
                    li.footer__links-item: a.footer__links-link(href="#") Сообщества
                    li.footer__links-item: a.footer__links-link(href="#") Трансляции
                    li.footer__links-item: a.footer__links-link(href="#") Академия


                ul.footer__links-block

                    li.footer__links-item: a.footer__links-link.link-arrow(href="#") Поддержка
                    li.footer__links-item: a.footer__links-link.link-soon(href="#") Рандомайзер
                    li.footer__links-item: a.footer__links-link.link-soon(href="#") Магазин



                ul.footer__links-block

                    li.footer__links-item: a.footer__links-link(href="#") Instagram
                    li.footer__links-item: a.footer__links-link(href="#") Twitch
                    li.footer__links-item: a.footer__links-link(href="#") VK
                    li.footer__links-item: a.footer__links-link(href="#") Youtube
                    li.footer__links-item: a.footer__links-link(href="#") Telegram


        .footer__bottom 

            .footer__logo
                img(src="./images/logo-footer.svg", alt="" loading="lazy" decoding="async" width="95" height="24")

            .footer__info

                .footer__lang

                    button.footer__lang-btn(type="button" aria-label="Изменить язык интерфеса") RU

                    .footer__lang-dropdown

                        button.footer__lang-switch(type="button" aria-label="Выбрать русский язык") RU
                        button.footer__lang-switch(type="button" aria-label="Выбрать английский язык") EN
                        button.footer__lang-switch(type="button" aria-label="Выбрать испанский язык") ES

                a.footer__info-link(href="#") Конфиденциальность

                a.footer__info-link(href="#") Оферта

                a.footer__info-link(href="#") Карта сайта

                a.footer__info-link(href="#") © Polemica Games, 2024



