header.header
    .container.header__container
        a.header__home(href="#")
            img(src="./images/logo.svg", alt="logo" decoding="async" width="50" height="50")

        nav.header__navbar
            ul.header__menu 
                li.header__item
                    a.header__link(href="#") Играть
                li.header__item
                    a.header__link(href="#") Правила
                li.header__item
                    a.header__link.header__link--amount(href="#") Блог #[span 3]
                li.header__item 
                    a.header__link(href="#") Топ игроков
                li.header__item
                    a.header__link(href="#") Сообщества
                li.header__item
                    a.header__link.header__link--gradient(href="#") Подписка

            .header__user
                button.header__user-toggle(type="button" aria-label="Показать меню")
                    +pictureSizeWithoutLazy('avatar','png','x2',40,40)
                    p.header__user-name Нагибатор4000

                ul.header__user-dropdown
                    li.header__user-item
                        a.header__user-link(href="#") Профиль
                    li.header__user-item
                        a.header__user-link(href="#") Настройки
                    li.header__user-item
                        button.header__user-link(type="button") Выйти


        button.header__burger(type="button" aria-label="Показать / скрыть меню")
            span.header__burger-icon

                span

