.footer {
    padding: 38px 0 36px;
    border-top: 1px solid var(--color-line-footer, #3f3f3f);
}

.footer__top {
    display: flex;
    gap: 0 24px;
    justify-content: space-between;
    margin-bottom: 80px;

    @include sm {
        display: block;
        margin-bottom: 50px;
    }
}

.footer__descr {
    flex: 0 0 373px;

    @include md {
        flex: 0 0 315px;
    }

    @include sm {
        max-width: 373px;
        margin-bottom: 30px;
    }
}

.footer__text {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 20px;
    line-height: 144%;
    background: linear-gradient(160deg, #fff 0%, rgba(242, 242, 242, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    picture {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 5px;

        img {
            position: absolute;
            top: -20px;
            left: 0;
            width: 36px;
            height: 36px;
        }
    }
}

.footer__play {
    padding: 11px 22px;
    border-radius: 12px;
    min-height: 40px;
    backdrop-filter: blur(14px);
    background-color: var(--color-bg-light, #f2f2f2);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: var(--color-text-black, #000);
    border: 2px solid var(--color-bg-light, #f2f2f2);
    transition: border-color 0.3s ease-out;

    @media (hover: hover) {
        &:hover {
            border-color: var(--color-text-dark, #11120d);
        }
    }
}

.footer__links {
    max-width: 800px;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    @include xs {
        flex-wrap: wrap;
        gap: 50px 0;
    }

    @include xxs {
        display: block;
    }
}

.footer__links-block {
    width: 140px;

    @include md {
        width: 110px;
    }

    @include xs {
        flex: 1 1 50%;
        max-width: 50%;
    }

    @include xxs {
        max-width: 100%;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

.footer__links-item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @include xxs {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

.footer__links-link {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-light-3, #f2f2f2);
    text-wrap: nowrap;

    &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--color-text-main, #fff);
        opacity: 0;
        transform: scale(0.2, 1);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }

    @media (hover: hover) {
        &:hover {
            &::before {
                opacity: 1;
                transform: scale(1, 1);
            }
        }
    }

    @include md {
        font-size: 15px;
    }

    @include xs {
        font-size: 18px;
    }
}

//=== footer bottom style

.footer__bottom {
    display: flex;
    justify-content: space-between;
    gap: 0 100px;

    @include sm {
        display: block;
    }
}

.footer__logo {
    width: 95px;
    height: 24px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include sm {
        margin-bottom: 40px;
    }
}

.footer__info {
    flex: 1 1 auto;
    display: flex;
    gap: 0 24px;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 800px;

    @include xs {
        flex-direction: column;
        gap: 22px 0;
        align-items: flex-start;
    }
}

.footer__info-link {
    order: 1;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-main, #fff);
    opacity: 0.6;
    transition: opacity 0.3s ease-out;

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }

    @include xs {
        order: 2;
    }
}

.footer__lang {
    position: relative;
    order: 2;

    &.active {
        .footer__lang-btn::after {
            transform: scaleY(-1);
        }

        .footer__lang-dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    @include xs {
        order: 1;
    }
}

.footer__lang-btn {
    display: flex;
    gap: 0 4px;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-text-main, #fff);

    &::after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6.75L9 11.25L13.5 6.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: transform 0.3s ease-out;
    }
}

.footer__lang-dropdown {
    position: absolute;
    bottom: 120%;
    left: -9px;
    z-index: 3;
    width: 50px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-text-main, #fff);

    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(40px);
    box-shadow: 0 1px 2px 0 rgba(45, 48, 57, 0.03),
        0 2px 4px 0 rgba(45, 48, 57, 0.04), 0 4px 8px 0 rgba(45, 48, 57, 0.05),
        0 7px 14px 0 rgba(45, 48, 57, 0.05),
        0 12px 26px 0 rgba(45, 48, 57, 0.06),
        0 30px 63px 0 rgba(45, 48, 57, 0.09);
    background: rgba(255, 255, 255, 0.08);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out,
        transform 0.3s ease-out;
}

.footer__lang-switch {
    display: inline-block;
    width: 100%;
    padding: 2px 4px;
    border-radius: 6px;
    text-align: left;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    background-color: transparent;
    transition: background-color 0.3s ease-out;

    &:not(:last-child) {
        margin-bottom: 2px;
    }

    @media (hover: hover) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
