:root {
    // colors fonts
    --color-text-main: #fff;
    --color-text-light: #f7f7f7;
    --color-text-light-2: #fefefe;
    --color-text-light-3: #f2f2f2;
    --color-text-black: #000;
    --color-text-dark: #11120d;

    // colors bg
    --color-bg-black: #000;
    --color-bg-white: #fff;
    --color-bg-light: #f2f2f2;
    --color-bg-green: #d7fe39;
    --color-bg-blue: #3fa9f5;
    --color-bg-blue-hover: #0b82d7;

    // colors line
    --color-line-grey: #525252;
    --color-line-white: #fff;
    --color-line-footer: #3f3f3f;

    // fonts
    --font-family: "Inter", sans-serif;
    --second-family: "Craftwork Grotesk", sans-serif;
}
