:root {
  // colors
  --color-text-main: #fff;
  --color-bg-black: #000;
  --color-bg-green: #d7fe39;
  --color-bg-blue: #3fa9f5;

  // fonts
  --font-family: "Inter", sans-serif;
  --second-family: "Craftwork Grotesk", sans-serif;
}
